  .strength-bar {
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;    
    width: 50%;
  }
  
  .bar {
    height: 100%;
    border-radius: 5px;
  }
  
  .level-0 {
    width: 0%;
    background-color: red;
  }
  
  .level-1 {
    width: 20%;
    background-color: red;
  }
  
  .level-2 {
    width: 40%;
    background-color: orange;
  }
  
  .level-3 {
    width: 60%;
    background-color: yellow;
  }
  
  .level-4 {
    width: 80%;
    background-color: lightgreen;
  }

  .level-5 {
    width: 100%;
    background-color: green;
  }
  